@import "~antd/dist/antd.css";
@import "./default.less";
.container {
  display: flex;
  .nav {
    height: calc(100vh);
    background: #001529;
  }
  .main {
    background: @colorL;
  }
  .content {
    position: relative;
    margin: 20px;
    min-height: calc(~"100vh - 190px");
    background: #fff;
  }
}
