.logo {
  line-height: 90px;
  padding-left: 20px;
  white-space: nowrap;
  background: #00274d;
}
.logo .logo-img {
  height: 35px;
  display: inline-block;
}
.logo .logo-text {
  color: #fff;
  font-size: 20px;
  display: inline-block;
  margin: 0;
  margin-left: 10px;
  vertical-align: middle;
}
